*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 90%;
    margin: auto;
}
.konvert{
    margin-top: 30px;
    padding: 30px 30px;

    display: flex;
    gap: 20px;

    border: solid 2px gray;
    max-width: fit-content;
}